<!doctype html>
<html>
<head>
  <base href="<%= h settings.base_url %>">
  <link rel="stylesheet" href="textvid.css">
  <title><%= h settings.site_title %></title>
</head>
<body>
<div class="container">
  <header class="site-header">
    <h1>
      <a class="site-header__title" href="<%= h router.root_url %>"><%= h settings.site_title %></a>
    </h1>
  </header>
  <main class="site-main">
    <div class="post-list">
      <% @posts.each do |post| %>
          <article class="post">
            <header class="post__header">
              <p class="post__created-on"><%= h post.created_at.strftime('%B %e, %Y') %></p>
              <h1 class="post__title"><a href="<%= h router.post_url(post) %>"><%= h post.title %></a></h1>
            </header>
            <%= post.rendered_body %>
            <footer class="post__footer">
              Labels:
              <% post.labels.each do |label| %>
                  <a href=""><%= h label %></a>
              <% end %>
              <%= h post.created_at %>
            </footer>
          </article>
      <% end %>
    </div>
    <nav class="neighbors">
      <ul class="neighbors__list">
        <li class="neighbors__item">
          <span class="neighbors__direction">Newer Post</span><br>
          <% if @newer_posts.empty? %>
              -
          <% else %>
              <a href="<%= h router.post_list_url(@query.previous) %>">Newer Posts</a>
          <% end %>
        </li>
        <li class="neighbors__item">
          <span class="neighbors__direction">Older Post</span><br>
          <% if @older_posts.empty? %>
              -
          <% else %>
              <a href="<%= h router.post_list_url(@query.next) %>">Older Posts</a>
          <% end %>
        </li>
      </ul>
    </nav>
  </main>
  <footer class="site-footer"></footer>
</div>
</body>
</html>
